Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
dependency-reduced-pom.xml
effective-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea
*.vscode

# Error Logs

error-logs/

README.html

# ANTLR
.antlr/
tmp
jobs4u.ANTLR/src/main/resources/*

# SCOMP project files
obj/
jobs4u.applicationsFileBot/*/bin/*
jobs4u.applicationsFileBot/*/resources/output/*
SCOMP/*/bin/*
SCOMP/*/resources/output/*