TITLE: Software Engineer Requirements
NAME: Paulo
EMAIL: micro@email.com

# How long have you been involved in web development? (1 | 2 | 3 | 4 | 5+ years)
ANSWER: 5+ years

# Can you list the programming languages you've utilized in your projects? (Ruby | PHP | TypeScript | Go)
ANSWER: RubyPlus

# Have you ever developed a mobile app? (Yes | No)
ANSWER: Yes

# Could you tell us which databases you've worked with in your projects? (Oracle | Firebase | MariaDB | CouchDB)
ANSWER: Oracle, Firebase

# Which version control systems are you familiar with? (Perforce | Bazaar | CVS)
ANSWER: Perforce

# Have you ever administered a database? (Yes | No)
ANSWER: Yes

# Could you tell us which cloud platforms you've used in your projects? (IBM Cloud | DigitalOcean | Heroku)
ANSWER: IBM Cloud, Heroku

# Are you familiar with any of these containerization platforms? (LXC | rkt | Podman)
ANSWER: LXC, Podman

# Do you have any experience in DevOps? (Yes | No)
ANSWER: Yes

# Which CI/CD tools have you used in your projects? (GitLab CI | Bamboo | TeamCity)
ANSWER: GitLab CI, Bamboo

# Could you tell us which testing frameworks you've used in your projects? (Mocha | Jest | PyTest | RSpec)
ANSWER: Mocha, Jest

# Which programming paradigms have you used in your projects? (Event-driven | Logic | Aspect-oriented)
ANSWER: Event-driven, Aspect-oriented