name: Java CI with Maven

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *' # every day at 00:00
  workflow_dispatch: # manual triggering

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Get the code from the repository
      uses: actions/checkout@v4
      with:
        ref: 'main'
        fetch-depth: 0 

    - name: Create error logs directory
      run: mkdir -p error-logs

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    # Give execute permissions to the build scripts
    - name: Set execute permissions on build scripts
      run: chmod +x bin/build-all.sh bin/generate-plantuml-diagrams.sh bin/mvnw || true

    - name: Full build with Maven
      run: ./bin/build-all.sh 2> error-logs/build-all.log || true
    
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: './target/site/*'

    - name: Upload error logs
      uses: actions/upload-artifact@v4
      if: always() # This ensures that logs are uploaded even if previous step fails
      with:
        name: error-logs
        path: error-logs/

    - name: Install Graphviz
      run: sudo apt-get install -y graphviz

    - name: Set up Git user
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

    - name: Update .svg
      run: ./bin/generate-plantuml-diagrams.sh
      
    - name: Add SVG files
      run: git add *.svg

    - name: Commit and push if there are changes
      run: |
        if ! git diff --cached --quiet; then
          git commit -m "Update diagrams"
          git push origin HEAD:main
        else
          echo "No changes to SVG files"
        fi